@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.slick-active > .custom-dots {
  @apply text-white bg-blue;
}

.slick-track,
.slick-slide > div {
  @apply h-full;
}

@media only screen and (max-width: 768px) {
  .slick-list {
    height: calc(100% - 2rem);
  }
}

@media only screen and (min-width: 768px) {
  .slick-list {
    height: 100%;
  }
}

/* #intro {
  animation: fadeout 0.2s ease-out 2.8s forwards;
} */

/* @keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

main {
  opacity: 0;
  animation: fadein 0.4s ease-out 2.6s forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
} */
