.tile {
  position: absolute;
  transition: ease-out;
  @apply drop-shadow-md;
  border-radius: 10px;
  overflow: hidden;
}

.inactive.tile::after {
  border-radius: 10px;
  overflow: hidden;
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 25px;
}

.correct {
  transition: 0.5s;
  @apply text-3xl font-bold uppercase;
}

.active {
  background-color: #fff;
  transition: ease-out;
  transition-duration: 0.2s;
  min-height: 420px;
  min-width: 800px;
  height: 60vh;
  width: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  position: fixed;
  cursor: default;
  @apply shadow-md;
}

.shaking {
  animation: shake 0.2s;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@media only screen and (min-width: 768px) {
  .tile #star {
    opacity: 0;
    transition: 0.3s ease;
  }

  .tile:hover #star {
    opacity: 1;
  }

  #one {
    top: 8%;
    left: 4.5%;
    height: 14rem;
    width: 14rem;
  }

  #two {
    top: 14.6%;
    left: 20.2%;
    height: 11rem;
    width: 11rem;
  }

  #three {
    top: 12.2%;
    left: 34%;
    height: 14rem;
    width: 14rem;
  }

  #four {
    top: 18.9%;
    left: 49.9%;
    height: 13.5rem;
    width: 13.5rem;
  }

  #five {
    top: 12.6%;
    left: 65.8%;
    height: 13rem;
    width: 13rem;
  }

  #six {
    top: 8%;
    left: 88%;
    height: 14rem;
    width: 14rem;
  }

  #seven {
    top: 30%;
    left: 8.2%;
    height: 11.4rem;
    width: 11.4rem;
  }

  #eight {
    top: 30.2%;
    left: 26%;
    height: 12.6rem;
    width: 12.6rem;
  }

  #nine {
    top: 32.8%;
    left: 40.2%;
    height: 11.1rem;
    width: 11.1rem;
  }

  #ten {
    top: 38.3%;
    left: 58.5%;
    height: 10rem;
    width: 10rem;
  }

  #eleven {
    top: 28.8%;
    left: 70.5%;
    height: 12.8rem;
    width: 12.8rem;
  }

  #twelve {
    top: 25%;
    left: 85%;
    height: 9rem;
    width: 9rem;
  }

  #thirteen {
    top: 46%;
    left: 15%;
    height: 12rem;
    width: 12rem;
  }

  #fourteen {
    top: 49.2%;
    left: 33.5%;
    height: 11.4rem;
    width: 11.4rem;
  }

  #fifteen {
    top: 44%;
    left: 80.3%;
    height: 17rem;
    width: 17rem;
  }

  #sixteen {
    top: 59.7%;
    left: 8.3%;
    height: 12rem;
    width: 12rem;
  }

  #seventeen {
    top: 63.7%;
    left: 25.1%;
    height: 10.5rem;
    width: 10.5rem;
  }

  #eighteen {
    top: 65%;
    left: 47.7%;
    height: 13.2rem;
    width: 13.2rem;
  }

  #nineteen {
    top: 57.8%;
    left: 63.8%;
    height: 13.4rem;
    width: 13.4rem;
  }

  #twenty {
    top: 63.6%;
    left: 79.5%;
    height: 12.8rem;
    width: 12.8rem;
  }

  #twenty-one {
    top: 77.6%;
    left: 3.9%;
    height: 16.5rem;
    width: 16.5rem;
  }

  #twenty-two {
    top: 77.9%;
    left: 23.1%;
    height: 16rem;
    width: 16rem;
  }

  #twenty-three {
    top: 81.5%;
    left: 41.8%;
    height: 12.5rem;
    width: 12.5rem;
  }

  #twenty-four {
    top: 79.4%;
    left: 57.3%;
    height: 12rem;
    width: 12rem;
  }

  #twenty-five {
    top: 81.7%;
    left: 71%;
    height: 11.8rem;
    width: 11.8rem;
  }

  #twenty-six {
    top: 77.1%;
    left: 86.3%;
    height: 17rem;
    width: 17rem;
  }
}

@media only screen and (max-width: 768px) {
  #one {
    top: 8%;
    left: 4.5%;
    height: 9.1rem;
    width: 9.1rem;
  }

  #two {
    top: 14.6%;
    left: 20.2%;
    height: 7.2rem;
    width: 7.2rem;
  }

  #three {
    top: 12.2%;
    left: 34%;
    height: 9.1rem;
    width: 9.1rem;
  }

  #four {
    top: 18.9%;
    left: 49.9%;
    height: 8.8rem;
    width: 8.8rem;
  }

  #five {
    top: 12.6%;
    left: 65.8%;
    height: 8.4rem;
    width: 8.4rem;
  }

  #six {
    top: 8%;
    left: 88%;
    height: 9.1rem;
    width: 9.1rem;
  }

  #seven {
    top: 30%;
    left: 8.2%;
    height: 7.5rem;
    width: 7.5rem;
  }

  #eight {
    top: 30.2%;
    left: 26%;
    height: 8.2rem;
    width: 8.2rem;
  }

  #nine {
    top: 32.8%;
    left: 40.2%;
    height: 7.3rem;
    width: 7.3rem;
  }

  #ten {
    top: 38.3%;
    left: 58.5%;
    height: 6.5rem;
    width: 6.5rem;
  }

  #eleven {
    top: 28.8%;
    left: 70.5%;
    height: 8.3rem;
    width: 8.3rem;
  }

  #twelve {
    top: 25%;
    left: 85%;
    height: 5.8rem;
    width: 5.8rem;
  }

  #thirteen {
    top: 46%;
    left: 15%;
    height: 7.8rem;
    width: 7.8rem;
  }

  #fourteen {
    top: 49.2%;
    left: 33.5%;
    height: 7.4rem;
    width: 7.4rem;
  }

  #fifteen {
    top: 44%;
    left: 80.3%;
    height: 11rem;
    width: 11rem;
  }

  #sixteen {
    top: 59.7%;
    left: 8.3%;
    height: 7.8rem;
    width: 7.8rem;
  }

  #seventeen {
    top: 63.7%;
    left: 25.1%;
    height: 6.9rem;
    width: 6.9rem;
  }

  #eighteen {
    top: 65%;
    left: 47.7%;
    height: 8.6rem;
    width: 8.6rem;
  }

  #nineteen {
    top: 57.8%;
    left: 63.8%;
    height: 8.7rem;
    width: 8.7rem;
  }

  #twenty {
    top: 63.6%;
    left: 79.5%;
    height: 8.3rem;
    width: 8.3rem;
  }

  #twenty-one {
    top: 77.6%;
    left: 3.9%;
    height: 10.7rem;
    width: 10.7rem;
  }

  #twenty-two {
    top: 77.9%;
    left: 23.1%;
    height: 10.4rem;
    width: 10.4rem;
  }

  #twenty-three {
    top: 81.5%;
    left: 41.8%;
    height: 8.1rem;
    width: 8.1rem;
  }

  #twenty-four {
    top: 79.4%;
    left: 57.3%;
    height: 7.8rem;
    width: 7.8rem;
  }

  #twenty-five {
    top: 81.7%;
    left: 71%;
    height: 7.4rem;
    width: 7.4rem;
  }

  #twenty-six {
    top: 77.1%;
    left: 86.3%;
    height: 10rem;
    width: 10rem;
  }
}
