.tile {
  position: absolute;
  border-radius: 26px;
  border: 1px solid black;
}

.tile::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 25px;
}

.tile:hover::after {
  cursor: pointer;
  transition-duration: 0.4s;

  -webkit-box-shadow: 5px 5px 15px 5px #ff8080, -9px 5px 15px 5px #ffe488, -7px -5px 15px 5px #8cff85,
    12px -5px 15px 5px #80c7ff, 12px 10px 15px 7px #e488ff, -10px 10px 15px 7px #ff616b, -10px -7px 27px 1px #8e5cff,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 15px 5px #ff8080, -9px 5px 15px 5px #ffe488, -7px -5px 15px 5px #8cff85,
    12px -5px 15px 5px #80c7ff, 12px 10px 15px 7px #e488ff, -10px 10px 15px 7px #ff616b, -10px -7px 27px 1px #8e5cff,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.shaking {
  animation: shake 0.2s;
  animation-iteration-count: 1;
}

.correct {
  /* border: 1px solid #ff8080; */
  transition: 0.5s;
  @apply text-3xl font-bold uppercase;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

#one {
  top: 11.8%;
  left: 4.7%;
  height: 7.4%;
  width: 7%;
}

#two {
  top: 5.1%;
  left: 27.5%;
  height: 7.4%;
  width: 7%;
}

#three {
  top: 16%;
  left: 41%;
  height: 7.4%;
  width: 7%;
}

#four {
  top: 9%;
  left: 59%;
  height: 7.4%;
  width: 7%;
}

#five {
  top: 12.5%;
  left: 74.4%;
  height: 12%;
  width: 4.3%;
}

#six {
  top: 5%;
  left: 87%;
  height: 7.4%;
  width: 7%;
}

#seven {
  top: 21%;
  left: 17%;
  height: 7.4%;
  width: 7%;
}

#eight {
  top: 29%;
  left: 32%;
  height: 12%;
  width: 4.3%;
}

#nine {
  top: 40%;
  left: 44%;
  height: 7.4%;
  width: 7%;
}

#ten {
  top: 33%;
  left: 59%;
  height: 12%;
  width: 4.3%;
}

#eleven {
  top: 43%;
  left: 71%;
  height: 7.4%;
  width: 7%;
}

#twelve {
  top: 26%;
  left: 89%;
  height: 12%;
  width: 4.3%;
}

#thirteen {
  top: 35%;
  left: 6%;
  height: 12%;
  width: 4.3%;
}

#fourteen {
  top: 45%;
  left: 18%;
  height: 12%;
  width: 4.3%;
}

#fifteen {
  top: 55%;
  left: 33%;
  height: 12%;
  width: 4.3%;
}

#sixteen {
  top: 58%;
  left: 50%;
  height: 12%;
  width: 4.3%;
}

#seventeen {
  top: 58%;
  left: 63%;
  height: 7.4%;
  width: 7%;
}

#eighteen {
  top: 52%;
  left: 84%;
  height: 7.4%;
  width: 7%;
}

#nineteen {
  top: 62%;
  left: 3%;
  height: 12%;
  width: 4.3%;
}

#twenty {
  top: 69%;
  left: 17%;
  height: 7.4%;
  width: 7%;
}

#twenty-one {
  top: 85%;
  left: 7%;
  height: 7.4%;
  width: 7%;
}

#twenty-two {
  top: 83%;
  left: 30%;
  height: 12%;
  width: 4.3%;
}

#twenty-three {
  top: 77%;
  left: 44%;
  height: 7.4%;
  width: 7%;
}

#twenty-four {
  top: 83%;
  left: 62%;
  height: 7.4%;
  width: 7%;
}

#twenty-five {
  top: 70%;
  left: 75%;
  height: 12%;
  width: 4.3%;
}

#twenty-six {
  top: 80%;
  left: 90%;
  height: 12%;
  width: 4.3%;
}
